.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > button {
    width: 300px;
    background-color: #2e81f4;

    color: #eff2f5;
    font-weight: 800;
}

login > button:hover {
    background-color: #fff;
    color: #2e81f4;
}

.login > div > img {
    object-fit: contain;
    height: 200px;
}
.login > div > h1 {
    color: black;
    text-align:center;
}
.login > div {
    display: flex;
    flex-direction: column;
}

.login__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}